@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    align-items: center;
    background: linear-gradient(340deg, #477593, #eee);
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.5);
    flex-basis: 30%;
    height: 550px;
    padding: 50px 0px 60px 0px;
}

.acg-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-bottom: 30px;
    color: #477593;
}

.txb-input{
    width: 300px;
    height: 35px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    margin-top: 10px;
    background-color: #e8eef1;
    text-decoration: none;

    border-bottom: 1px solid #232323;
    background: transparent;
    border-radius: 0;

}.txb-input::placeholder{
    color: #232323;
}.txb-input:focus{
    border-bottom: 1.5px solid #477593;
}

.forgot-password{
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold; 
    color: #232323;
    font-size: 11pt;
    cursor: pointer;
}

.btn-login{
    width: 150px;
    height: 35px;
    background: #477593;
    color: #eee;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(35, 35, 35, 0.2);
    font-weight: bold;
    font-size: 12px;
    margin: 10px;
}.btn-login:hover{
    cursor: pointer;
    background: transparent;
    color: #477593;
    border: 1px solid #477593;
    transition: 0.2s;
}

.uemg-logo{
    max-height: 130px; 
}
